* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: white;
  overflow-x: hidden;
}

.nav {
  position: relative;
  max-width: 90%;
  height: 15vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav a {
  text-decoration: none;
}

.nav a h1 {
  color: black;
  font-size: 1.8rem;
  letter-spacing: 5px;
  font-weight: 500;
}

.nav .menu-container {
  width: 100px;
}

.nav .menu-container .cart-icon {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  cursor: pointer;
}

.nav .menu-container .cart-icon p {
  position: absolute;
  top: 0;
  right: 2px;
  font-size: 12px;
  color: black;
}

.nav .menu-container .burger-button {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.nav .menu-container .burger-button img {
  width: 17px;
}

.header {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  background-image: url("/Imgs/header-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}

@media (min-width: 687px) {
  .header {
    width: 90%;
  }
}

.header h1 {
  font-family: "EB Garamond", serif;
  position: absolute;
  bottom: 45%;
  left: 10%;
  color: #f3f3f3;
  font-weight: 300;
  font-size: 2.5rem;
}

@media (min-width: 687px) {
  .header h1 {
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-weight: 300;
    font-size: 4rem;
  }
}

.header p {
  position: absolute;
  max-width: 300px;
  bottom: 25%;
  left: 10%;
  color: white;
  font-weight: 300;
  line-height: 1.4rem;
  font-size: 0.9rem;
}

@media (min-width: 687px) {
  .header p {
    position: absolute;
    max-width: 300px;
    top: 50%;
    left: 10%;
    color: white;
    font-weight: 300;
    line-height: 1.4rem;
  }
}

.header button {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 160px;
  height: 45px;
  background: white;
  border: none;
  -webkit-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
  cursor: pointer;
  border-radius: 3px;
}

@media (min-width: 687px) {
  .header button {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 160px;
    height: 45px;
    background: white;
    border: none;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    cursor: pointer;
  }
}

.header button:hover {
  background: rgba(255, 255, 255, 0.7);
  border: none;
}

.shop-section {
  position: relative;
  max-width: 90%;
  min-height: 500px;
  margin: auto;
  overflow: hidden;
}

.shop-section .shop-right {
  background-image: url("/Imgs/left-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 250px;
}

@media (min-width: 768px) {
  .shop-section .shop-right {
    height: 100%;
    width: 100%;
  }
}

.shop-section .straps-left {
  background-image: url("/Imgs/right-img1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 250px;
}

@media (min-width: 768px) {
  .shop-section .straps-left {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .shop-section .straps-left {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .shop-section .straps-left {
    height: 250px;
  }
}

.shop-section .about-left {
  background-image: url("/Imgs/right-img2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 250px;
}

@media (min-width: 768px) {
  .shop-section .about-left {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .shop-section .about-left {
    min-height: 100px;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .shop-section .about-left {
    height: 250px;
  }
}

.shop-section .card-left {
  background-image: url("/Imgs/right-img3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  height: 250px;
}

@media (min-width: 768px) {
  .shop-section .card-left {
    height: 150px;
  }
}

@media (min-width: 992px) {
  .shop-section .card-left {
    min-height: 100px;
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .shop-section .card-left {
    height: 250px;
  }
}

.shop-section .img-container {
  position: relative;
}

.shop-section .img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.shop-section .img-container:hover {
  opacity: 0.9;
}

.shop-section a {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.shop-section h2 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.refound {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("/Imgs/refound-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 25%;
}

@media (min-width: 768px) {
  .refound {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .refound {
    height: 500px;
  }
}

@media (min-width: 1200px) {
  .refound {
    height: 600px;
  }
}

.refound h2 {
  font-family: "EB Garamond", serif;
  width: 70%;
  position: absolute;
  top: 10%;
  left: 5%;
  color: #fdffff;
  font-weight: 100;
  font-size: 1.4rem;
  line-height: 2rem;
}

@media (min-width: 768px) {
  .refound h2 {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .refound h2 {
    width: 50%;
    font-size: 2rem;
    line-height: 2.5rem;
    top: 20%;
  }
}

@media (min-width: 1200px) {
  .refound h2 {
    width: 35%;
  }
}

.refound::before {
  background: linear-gradient(110deg, black 20%, transparent 80%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.subscribe-section {
  position: relative;
  width: 90%;
  margin: auto;
}

.subscribe-section .img-container {
  width: 100%;
}

.subscribe-section .img-container img {
  width: 100%;
}

.subscribe-section .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-section .subscribe h2 {
  font-weight: 300;
  font-size: 2rem;
}

.subscribe-section .subscribe p {
  max-width: 300px;
  margin-top: 30px;
  font-weight: 100;
}

.subscribe-section .subscribe input {
  width: 100%;
  height: 40px;
  border: none;
  margin-top: 30px;
  border-bottom: 1px solid black;
}

.subscribe-section .subscribe button {
  width: 120px;
  height: 40px;
  border: none;
  background: #efefef;
  margin-top: 30px;
  cursor: pointer;
  font-size: 0.9rem;
}

.subscribe-section .subscribe button:hover {
  background: #202020;
  color: white;
}

.footer {
  width: 100%;
  background: #e6e6e6;
}

.footer ul {
  list-style: none;
}

.footer ul li {
  margin-bottom: 3px;
}

.footer ul li a {
  text-decoration: none;
  color: #686767;
  font-size: 12px;
}

.footer ul li a:hover {
  color: #383838;
}

.footer .media-icons i {
  margin-left: 20px;
  cursor: pointer;
  color: #686767;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.footer .media-icons i:hover {
  color: #383838;
}

.footer .logo h2 {
  color: #686767;
}

.footer .logo h2:hover {
  color: #383838;
}

.warpper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.warpper-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  right: 0px;
  top: 0px;
  width: 450px;
  height: 100vh;
  background: white;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

@media (max-width: 450px) {
  .burger-menu {
    width: 100%;
  }
}

.burger-menu .btn-exit-container {
  position: relative;
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger-menu .btn-exit-container .exit {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
  margin-right: 70px;
}

.burger-menu .btn-exit-container .exit img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.burger-menu .burger-warpper {
  position: relative;
  width: 300px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.burger-menu .burger-warpper .menu-links {
  margin-left: 20%;
}

.burger-menu .burger-warpper .menu-links a {
  text-decoration: none;
}

.burger-menu .burger-warpper .menu-links a h2 {
  color: #383838;
  font-weight: 400;
  line-height: 3rem;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.burger-menu .burger-warpper .menu-links a h2:hover {
  color: #1a1a1a;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.burger-menu .burger-warpper ul {
  margin-left: 20%;
  list-style: none;
}

.burger-menu .burger-warpper ul a {
  text-decoration: none;
}

.burger-menu .burger-warpper ul a li {
  color: #383838;
  font-size: 14px;
  line-height: 1.8rem;
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.burger-menu .burger-warpper ul a li:hover {
  color: #1a1a1a;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.burger-menu-active {
  display: block;
  z-index: 2;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.scrollY {
  overflow-y: hidden;
}

.nav-cart {
  position: fixed;
  top: 0;
  right: 0;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 100vh;
  background: white;
  z-index: 10;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  overflow-y: auto;
}

@media (max-width: 400px) {
  .nav-cart {
    width: 100%;
  }
}

.nav-cart .btn-exit-container {
  position: relative;
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cart .btn-exit-container .exit-cart {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
  margin-right: 70px;
}

.nav-cart .btn-exit-container .exit-cart img {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.nav-cart .cart-container {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.nav-cart .cart-container .products-container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 30px;
}

.nav-cart .cart-container .products-container .img-cart {
  width: 100%;
}

.nav-cart .cart-container .products-container .img-cart img {
  width: 100%;
  height: 100%;
}

.nav-cart .cart-container .products-container .name-cart {
  width: 100%;
  height: 100%;
}

.nav-cart .cart-container .products-container .name-cart .cart-name {
  width: 100%;
  height: 100%;
}

.nav-cart .cart-container .products-container .name-cart .cart-name h3 {
  font-size: 10px;
  font-weight: 300;
  text-align: center;
  padding-top: 20px;
}

.nav-cart .cart-container .products-container .name-cart .cart-amount {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-cart .cart-container .products-container .name-cart .cart-amount i {
  font-size: 18px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-cart .cart-container .products-container .name-cart .cart-amount i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-cart .cart-container .products-container .price-cart {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-cart .cart-container .products-container .price-cart .cart-price {
  width: 100%;
  text-align: center;
}

.nav-cart .cart-container .products-container .price-cart .cart-price h4 {
  font-size: 12px;
  font-weight: 300;
}

.nav-cart .cart-container .products-container .price-cart .bin-icon {
  width: 100%;
  text-align: center;
}

.nav-cart .cart-container .products-container .price-cart .bin-icon i {
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav-cart .cart-container .products-container .price-cart .bin-icon i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav-cart .check-out-container {
  margin-top: 30px;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0px -3px 10px -7px rgba(0, 0, 0, 0.75);
          box-shadow: 0px -3px 10px -7px rgba(0, 0, 0, 0.75);
}

.nav-cart .check-out-container .subtotal {
  width: 80%;
  height: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-cart .check-out-container .subtotal p,
.nav-cart .check-out-container .subtotal h3 {
  font-size: 14px;
  color: #727272;
}

.nav-cart .check-out-container .check-out-btn {
  width: 80%;
  height: 40px;
  margin: auto;
}

.nav-cart .check-out-container .check-out-btn button {
  width: 100%;
  height: 45px;
  border: none;
  font-size: 1.1rem;
  color: #727272;
  cursor: pointer;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.nav-cart .check-out-container .check-out-btn button:hover {
  background: black;
  color: white;
}

.nav-cart-active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
/*# sourceMappingURL=main.css.map */