* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
}

.nav {
  position: relative;
  max-width: 90%;
  height: 15vh;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    h1 {
      color: black;
      font-size: 1.8rem;
      letter-spacing: 5px;
      font-weight: 500;
    }
  }

  .menu-container {
    width: 100px;

    .cart-icon {
      position: relative;
      width: 30px;
      height: 30px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      float: right;
      cursor: pointer;

      p {
        position: absolute;
        top: 0;
        right: 2px;
        font-size: 12px;
        color: black;
      }
    }

    .burger-button {
      width: 30px;
      height: 30px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid black;
      border-radius: 50%;
      cursor: pointer;

      img {
        width: 17px;
      }
    }
  }
}

.header {
  position: relative;
  width: 100%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  background-image: url("/Imgs/header-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
  @media (min-width: 687px) {
    width: 90%;
  }

  h1 {
    font-family: "EB Garamond", serif;
    position: absolute;
    bottom: 45%;
    left: 10%;
    color: rgb(243, 243, 243);
    font-weight: 300;
    font-size: 2.5rem;
    @media (min-width: 687px) {
      position: absolute;
      top: 30%;
      left: 10%;
      color: white;
      font-weight: 300;
      font-size: 4rem;
    }
  }

  p {
    position: absolute;
    max-width: 300px;
    bottom: 25%;
    left: 10%;
    color: white;
    font-weight: 300;
    line-height: 1.4rem;
    font-size: 0.9rem;
    @media (min-width: 687px) {
      position: absolute;
      max-width: 300px;
      top: 50%;
      left: 10%;
      color: white;
      font-weight: 300;
      line-height: 1.4rem;
    }
  }

  button {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 160px;
    height: 45px;
    background: white;
    border: none;
    transition: all 0.7s ease-out;
    cursor: pointer;
    border-radius: 3px;
    @media (min-width: 687px) {
      position: absolute;
      top: 70%;
      left: 10%;
      width: 160px;
      height: 45px;
      background: white;
      border: none;
      transition: all 1s ease-out;
      cursor: pointer;
    }
  }
  button:hover {
    background: rgba(255, 255, 255, 0.7);
    border: none;
  }
}

.shop-section {
  position: relative;
  max-width: 90%;
  min-height: 500px;
  margin: auto;
  overflow: hidden;

  .shop-right {
    background-image: url("/Imgs/left-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: 250px;
    @media (min-width: 768px) {
      height: 100%;
      width: 100%;
    }
  }

  .straps-left {
    background-image: url("/Imgs/right-img1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: 250px;
    @media (min-width: 768px) {
      height: 150px;
    }
    @media (min-width: 992px) {
      height: 200px;
    }
    @media (min-width: 1200px) {
      height: 250px;
    }
  }

  .about-left {
    background-image: url("/Imgs/right-img2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: 250px;
    @media (min-width: 768px) {
      height: 150px;
    }
    @media (min-width: 992px) {
      min-height: 100px;
      height: 200px;
    }
    @media (min-width: 1200px) {
      height: 250px;
    }
  }

  .card-left {
    background-image: url("/Imgs/right-img3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    height: 250px;
    @media (min-width: 768px) {
      height: 150px;
    }
    @media (min-width: 992px) {
      min-height: 100px;
      height: 200px;
    }
    @media (min-width: 1200px) {
      height: 250px;
    }
  }

  .img-container {
    position: relative;
  }

  .img-container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  .img-container:hover {
    opacity: 0.9;
  }

  a {
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  h2 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    font-size: 1rem;
    font-weight: 300;
  }
}

.refound {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("/Imgs/refound-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 100%;
  background-position-x: 25%;
  @media (min-width: 768px) {
    height: 400px;
  }
  @media (min-width: 992px) {
    height: 500px;
  }
  @media (min-width: 1200px) {
    height: 600px;
  }

  h2 {
    font-family: "EB Garamond", serif;
    width: 70%;
    position: absolute;
    top: 10%;
    left: 5%;
    color: #fdffff;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 2rem;
    @media (min-width: 768px) {
      height: 400px;
    }
    @media (min-width: 992px) {
      width: 50%;
      font-size: 2rem;
      line-height: 2.5rem;
      top: 20%;
    }
    @media (min-width: 1200px) {
      width: 35%;
    }
  }
}
.refound::before {
  // background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(110deg, black 20%, transparent 80%);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.subscribe-section {
  position: relative;
  width: 90%;
  margin: auto;

  .img-container {
    width: 100%;

    img {
      width: 100%;
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      font-weight: 300;
      font-size: 2rem;
    }

    p {
      max-width: 300px;
      margin-top: 30px;
      font-weight: 100;
    }

    input {
      width: 100%;
      height: 40px;
      border: none;
      margin-top: 30px;
      border-bottom: 1px solid black;
    }
    button {
      width: 120px;
      height: 40px;
      border: none;
      background: #efefef;
      margin-top: 30px;
      cursor: pointer;
      font-size: 0.9rem;
    }

    button:hover {
      background: rgb(32, 32, 32);
      color: white;
    }
  }
}

.footer {
  width: 100%;
  background: rgb(230, 230, 230);

  ul {
    list-style: none;

    li {
      margin-bottom: 3px;

      a {
        text-decoration: none;
        color: rgb(104, 103, 103);
        font-size: 12px;
      }

      a:hover {
        color: rgb(56, 56, 56);
      }
    }
  }

  .media-icons {
    i {
      margin-left: 20px;
      cursor: pointer;
      color: rgb(104, 103, 103);
      transform: scale(1.3);
    }

    i:hover {
      color: rgb(56, 56, 56);
    }
  }

  .logo {
    h2 {
      color: rgb(104, 103, 103);
    }

    h2:hover {
      color: rgb(56, 56, 56);
    }
  }
}

.warpper {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  transform: translateX(100%);
  transition: all 0.4s ease-out;
}

.warpper-active {
  transform: translateX(0%);
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  right: 0px;
  top: 0px;
  min-width: 450px;
  height: 100vh;
  background: rgb(255, 255, 255);
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.5s ease-in;

  .btn-exit-container {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;

    .exit {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid black;
      border-radius: 50%;
      overflow: hidden;
      z-index: 100;
      margin-right: 70px;
      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

  .burger-warpper {
    position: relative;
    width: 300px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .menu-links {
      margin-left: 20%;

      a {
        text-decoration: none;

        h2 {
          color: rgb(56, 56, 56);
          font-weight: 400;
          line-height: 3rem;
          opacity: 1;
          transition: all 0.3s ease-out;
        }

        h2:hover {
          color: rgb(26, 26, 26);
          transform: translateX(10px);
        }
      }
    }

    ul {
      margin-left: 20%;
      list-style: none;

      a {
        text-decoration: none;

        li {
          color: rgb(56, 56, 56);
          font-size: 14px;
          line-height: 1.8rem;
          opacity: 1;
          transition: all 0.3s ease-out;
        }

        li:hover {
          color: rgb(26, 26, 26);
          transform: translateX(10px);
        }
      }
    }
  }
}

.burger-menu-active {
  display: block;
  z-index: 2;
  transform: translateX(0%);
}

.scrollY {
  overflow-y: hidden;
}

.nav-cart {
  position: fixed;
  top: 0;
  right: 0;
  right: 0px;
  top: 0px;
  width: 400px;
  height: 100vh;
  background: rgb(255, 255, 255);
  z-index: 10;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
  overflow-y: auto;

  .btn-exit-container {
    position: relative;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;

    .exit-cart {
      width: 30px;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      border: 1px solid black;
      border-radius: 50%;
      overflow: hidden;
      z-index: 100;
      margin-right: 70px;
      img {
        width: 22px;
        height: 22px;
        cursor: pointer;
      }
    }
  }

  .cart-container {
    position: relative;
    width: 80%;
    height: 100%;
    margin: auto;

    .products-container {
      width: 100%;
      height: 100px;
      display: flex;
      border-bottom: 1px solid rgb(199, 199, 199);
      margin-bottom: 30px;

      .img-cart {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }
      .name-cart {
        width: 100%;
        height: 100%;

        .cart-name {
          width: 100%;
          height: 100%;

          h3 {
            font-size: 10px;
            font-weight: 300;
            text-align: center;
            padding-top: 20px;
          }
        }

        .cart-amount {
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: space-evenly;

          i {
            font-size: 18px;
            cursor: pointer;
            transition: 0.3s ease-out;
          }

          i:hover {
            transform: scale(1.1);
          }
        }
      }
      .price-cart {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .cart-price {
          width: 100%;
          text-align: center;
          h4 {
            font-size: 12px;
            font-weight: 300;
          }
        }

        .bin-icon {
          width: 100%;
          text-align: center;
          i {
            font-size: 16px;
            cursor: pointer;
            transition: 0.3s ease-out;
          }

          i:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .check-out-container {
    margin-top: 30px;
    width: 100%;
    height: 200px;
    box-shadow: 0px -3px 10px -7px rgba(0, 0, 0, 0.75);
    .subtotal {
      width: 80%;
      height: 100px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p,
      h3 {
        font-size: 14px;
        color: rgb(114, 114, 114);
      }
    }

    .check-out-btn {
      width: 80%;
      height: 40px;
      margin: auto;

      button {
        width: 100%;
        height: 45px;
        border: none;
        font-size: 1.1rem;
        color: rgb(114, 114, 114);
        cursor: pointer;
        transition: 0.5s ease-out;
      }

      button:hover {
        background: black;
        color: white;
      }
    }
  }
}

.nav-cart-active {
  transform: translateX(0px);
}
