.shop-product-container {
  position: relative;
  width: 75%;
  margin: 50px auto 50px auto;
}

@media (max-width: 576px) {
  .shop-product-container {
    width: 90%;
  }
}

.shop-product-container .watch-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop-product-container .watch-container .main-carousel {
  width: 100%;
  height: 600px;
  /* fill-in selected dot */
}

@media (max-width: 992px) {
  .shop-product-container .watch-container .main-carousel {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .shop-product-container .watch-container .main-carousel {
    height: 450px;
  }
}

@media (max-width: 576px) {
  .shop-product-container .watch-container .main-carousel {
    height: 400px;
  }
}

.shop-product-container .watch-container .main-carousel img {
  height: 600px;
}

@media (max-width: 992px) {
  .shop-product-container .watch-container .main-carousel img {
    height: 500px;
  }
}

@media (max-width: 850px) {
  .shop-product-container .watch-container .main-carousel img {
    height: 450px;
  }
}

@media (max-width: 576px) {
  .shop-product-container .watch-container .main-carousel img {
    height: 400px;
  }
}

.shop-product-container .watch-container .main-carousel .flickity-page-dots .dot {
  width: 14px;
  height: 14px;
  opacity: 1;
  background: transparent;
  border: 2px solid black;
}

.shop-product-container .watch-container .main-carousel .flickity-page-dots .dot.is-selected {
  background: black;
}

.shop-product-container .text-watch-container {
  width: 100%;
}

.shop-product-container .text-watch-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.shop-product-container .text-watch-container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.shop-product-container .text-watch-container p {
  font-size: 14px;
}

.shop-product-container .text-watch-container ul {
  width: 100%;
  margin-bottom: 20px;
}

.shop-product-container .text-watch-container ul li {
  font-size: 12px;
  line-height: 1.2rem;
}

.shop-product-container .text-watch-container .quantity-container {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.shop-product-container .text-watch-container .quantity-container select {
  width: 60%;
  height: 100%;
  border: none;
  font-size: 18px;
  color: #686868;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 14px;
}

.shop-product-container .text-watch-container .quantity-container label {
  font-size: 14px;
  color: #686868;
  margin-left: 10px;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.shop-product-container .text-watch-container .quantity-container label:hover {
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
}

.shop-product-container .text-watch-container .quantity-container .quantity-container:hover {
  background: #efefef;
}

.shop-product-container .text-watch-container button {
  width: 100%;
  height: 50px;
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  cursor: pointer;
  margin-top: 40px;
  border: none;
  color: #686868;
}

.shop-product-container .text-watch-container button:hover {
  background: black;
  color: white;
}

.grid-product-imgs {
  width: 75%;
  margin: auto;
  overflow: hidden;
}

@media (max-width: 576px) {
  .grid-product-imgs {
    width: 90%;
  }
}

.grid-product-imgs .img-container {
  overflow: hidden;
  max-height: 500px;
  width: 100%;
}

.grid-product-imgs .img-container img {
  width: 100%;
  height: 130%;
}
/*# sourceMappingURL=midnight.css.map */