.straps-header {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.straps-header h2 {
  font-family: "EB Garamond", serif;
  font-weight: 300;
  font-size: 4rem;
  color: #424242;
}

.straps-header p {
  width: 37%;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .straps-header p {
    width: 80%;
  }
}

@media (max-width: 992px) {
  .straps-header p {
    width: 60%;
  }
}

@media (max-width: 576px) {
  .straps-header p {
    width: 90%;
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .straps-grid-container {
    max-width: 1000px;
    margin: auto;
  }
}

.straps-grid-container .grid-strap {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.straps-grid-container .grid-strap button {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  max-width: 130px;
  height: 50px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.straps-grid-container .grid-strap button:hover {
  background: black;
  color: white;
}

.straps-grid-container .grid-strap .img-strap-container {
  width: 100%;
  overflow: hidden;
}

.straps-grid-container .grid-strap .img-strap-container img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.5 ease-in;
  transition: 0.5 ease-in;
}

@media (max-width: 768px) {
  .straps-grid-container .grid-strap .img-strap-container img {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 576px) {
  .straps-grid-container .grid-strap .img-strap-container img {
    width: 100%;
    margin: auto;
  }
}

.straps-grid-container .grid-strap .img-strap-container img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.straps-grid-container .grid-strap:hover button {
  opacity: 1;
  top: 50%;
}

.straps-grid-container .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.straps-grid-container .title h2 {
  font-weight: 300;
  font-size: 1rem;
}

@media (max-width: 450px) {
  .straps-grid-container .title h2 {
    font-size: 0.8rem;
    text-align: center;
  }
}

.straps-grid-container .title h3 {
  font-weight: 300;
  font-size: 1rem;
}

@media (max-width: 450px) {
  .straps-grid-container .title h3 {
    font-size: 0.8rem;
    text-align: center;
  }
}

.straps-grid-container a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=straps.css.map */